* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

  }
header {
    font-family: 13px Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
  }

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-family: 13px Arial, sans-serif;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
body {
    background: white;
    font-family: 13px Arial, sans-serif;
}
#logo {
    display: block;
    text-align: center;
}
.center {
    margin: 200px 0px auto auto;
}

.searchBar {
    background-color: white;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 24px;
    padding: 0px;
    margin: 50px auto 0px auto;
    width: 35%;

}
.searchBar:hover {
    box-shadow: 0px 0px 5px grey;
}
.searchBar #lens {
    position: relative;
    height: 30px;
    top: 10px;
}
.search {
    border: none;
    background-color: transparent;
    width: 85%;
    height: 30px;
    position: relative;
    padding-bottom: 5px;
}
button {
    background: #f5f5f5;
    position: relative;
    box-shadow: 0px;
    border: 1px solid #f2f2f2;
    padding: 0px 16px;
    margin: 11px 5px;
    line-height: 26px;
    border-radius: 3px;
}
button:hover {
    box-shadow: 0px 0px 5px grey;
}
#gsubmit a {
    display: block;
    color: rgb(83, 83, 83);
    text-align: center;
    padding: 8px;
    text-decoration: none;  
}
#ifooter {
    bottom: 0;
    position: absolute;
    width: 100%;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4
}
.float-bleft {
    float: left;
}
.float-bright {
    float: right;
}

/*--Results Specific Styles--*/
#head {
    padding: 8px;
    border-bottom: 1px solid rgb(184, 183, 183);
    box-shadow: 0px 0px 5px grey;
}
#Glogo {
    margin-top: 10px;
    margin-left: 10px; 
}
.RsearchBar {
    background-color: white;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 24px;
    padding: 0px;
    margin: 10px auto 10px 150px;
    width: 25%;

}
.RsearchBar:hover {
    box-shadow: 0px 0px 5px grey;
}
.RsearchBar #lens {
    position: relative;
    height: 30px;
    top: 10px;
}
.Rsearch {
    border: none;
    background-color: transparent;
    width: 85%;
    height: 30px;
    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 10px;
}
h3 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    color: #1a0dab;
    padding: 4px;
    display: block;
}
h4 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: left;
    color: #006621;
    padding: 4px;
}
.container {
    display: grid;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: 150px 600px auto;
}
.item {
    grid-column-start: 2;
    grid-column-end: span 1;
    margin: 10px;
    max-height: 140px;
    overflow: hidden;
}
.item a {
    text-decoration: none;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 4px 0px;
    color: #545454;
}
#rfooter {
    background:  #f2f2f2;
    margin-left: 150px;
}